@import './__variables.scss';

.Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // height: 100vh;
  // background-color: #f5f5f5;

  padding: 15px;

  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  .Box__Box {
    height: 100px;
    width: 100px;
    
    margin-bottom: 10px;

    object-fit: contain;

    cursor: pointer;
  }

  #box-title {
    font-size: 1.2rem;
    // font-weight: bold;
    margin: 10px 0;
    text-align: center;

    border: none;
    border-bottom: 1px solid black;
  }

  .Box__Total {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px 0;

    .Box__Total__Calculated {
      display: flex;
      align-items: center;
    }
  }

  .Box__Cost {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px 0;

    .Box__Cost__Input {
      display: flex;
      align-items: center;
    }
  }

  .Box__CostEfficiency {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px 0;

    .Box__CostEfficiency__Label {
      display: flex;
      align-items: center;

      font-size: 1.1rem;
      font-weight: bold;
      text-align: center;
    }

    .Box__CostEfficiency__Number {
      font-size: 2rem;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }


    // color: #f5f5f5;
    .Red {
      color: red;
    }

    .Orange {
      color: orange;
    }

    .Yellow {
      color: yellow;
    }

    .Black {
      color: black;
      -webkit-text-stroke-width: 0;
        // -webkit-text-stroke-color: black;
    }

    .LightGreen {
      color: lightgreen;
    }

    .Green {
      color: green;
    }
  }

  .Box__Items {
    width: 100%;
  }
}