@import './__variables.scss';

.Item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px;
  padding: 10px;

  // background color is a soft gray
  background-color: lightgray;
  // background-color: ;
  border-radius: 8px;
  // box shadow that drops down and to the right

  .Item__Avatar {
    height: 40px;
    width: 40px;
    object-fit: contain;

    // border-radius: 8px;
    // border: 2px solid black;
  }

  .Item__Name {
    display: flex;
    align-items: center;

    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0;

    svg {
      margin-left: 3px;
    }
  }

  .Item__Total {
    display: flex;
    align-items: center;

    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px 0;

    // color: #f5f5f5;
  }

  .Item__Delete {
    cursor: pointer;
  }
}