.Item {
  display: flex;
  align-items: center;

  padding: 10px;

  // background color is a soft gray
  background-color: gray;
  // background-color: ;
  border-radius: 8px;
  // box shadow that drops down and to the right
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}